name: Hello World

on:
    workflow_dispatch:

jobs:
    hello-world:
        runs-on: ubuntu-latest
        steps:
            - name: Say Hello
              run: echo "Hello ${{ github.event.inputs.name }}!"
            - name: List Files
              run: ls -la
            - name: Checkout
              uses: actions/checkout@v4
            - name: List Files
              run: ls -la
